.portfolio_container {
  height: 65vh;
  width: 78vw;
  border-radius: 0.25vw;
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
  padding: 1.2vw;
  display: flex;
}

.center {
  justify-content: center;
}

.portfolio_container .divider {
  margin-left: 2.25vw;
  margin-right: 2.25vw;
  width: 0.05vw;
  background-color: var(--color-primary-variant);
}

.project_card {
  width: 20vw;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.project_card b {
  font-size: 2.5vh;
  color: var(--color-primary);
}

.project_card .project_title {
  text-align: center;
}

.project_card .project_image_container {
  height: 25vh;
  padding: 1vh;
  display: flex;
  background: linear-gradient(
    0deg,
    var(--color-primary-variant2),
    transparent,
    var(--color-primary-variant2)
  );
  border-radius: 0.25vw;
  border: 1px solid var(--color-primary-variant);
  margin-top: 1vh;
}

.project_card .project_content {
  margin-top: 1vh;
  flex-grow: 1;
}

.project_card .project_content b {
  font-size: 2vh;
}

.project_card .project_content p {
  font-size: 1.75vh;
}

.project_card .project_cta {
  display: flex;
  position: relative;
  bottom: 0vh;
}

.detail_container {
  height: 65vh;
  width: 50vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: var(--color-light);
}

.detail_divider {
  background-color: var(--color-primary-variant);
  height: 1px;
  width: 98%;
  margin-bottom: 0.75vh;
  margin-top: 1.25vh;
  align-self: center;
}

.detail_nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 1.75vh;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.8vh;
  line-height: 4vh;
}

.detail_nav_item {
  text-align: center;
  width: 100%;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

.detail_nav_item:hover {
  background-color: var(--color-bg-variant);
  color: var(--color-primary);
  border: 1px solid var(--color-primary-variant);
}

.detail_nav_item.selected {
  background-color: var(--color-primary);
  color: var(--color-bg);
  cursor: default;
}

.detail_nav_item.first {
  border-radius: 10px 0 0 10px;
  border-right: 0;
}
.detail_nav_item.mid {
  border-left: 0;
  border-right: 0;
}

.detail_nav_item.last {
  border-radius: 0 10px 10px 0;
  border-left: 0;
}

.detail_title {
  margin-top: 1vh;
  color: var(--color-primary);
  font-size: 2.85vh;
  text-align: center;
  text-transform: uppercase;
}

.detail_title_divider {
  height: 1px;
  width: 25%;
  background-color: var(--color-primary-variant);
  align-self: center;
}

.detail_subtitle {
  color: var(--color-light);
  text-align: center;
  margin-bottom: 1.5vh;
}

.detail_page {
  overflow-y: auto;
  font-size: 2vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.detail_content b {
  color: var(--color-primary);
}

.go_back {
  width: 13vw;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 2rem;
  margin-left: 0.3vw;
  margin-top: 0.3vw;
  padding: 0.1vw;
  font-size: 1.65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.go_back:hover:hover {
  background-color: var(--color-bg-variant);
  color: var(--color-primary);
  border: 1px solid var(--color-primary-variant);
}
