.about_container {
  width: 65vw;
  display: flex;
  border-radius: 0.25vw;
  height: 65vh;
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
  padding: 1.85vw;
}

.about_container .about_me {
  width: 10vw;
  height: 10vw;
  border: 1px solid var(--color-primary-variant);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary-variant2),
    transparent
  );
}

.about_container .about_me img {
  border-radius: inherit;
}

.about_container .divider {
  margin-left: 2.25vw;
  margin-right: 2.25vw;
  width: 0.1vw;
  background-color: var(--color-primary-variant);
}

.about_container .about_content {
  overflow-y: auto;
}

.about_me_content {
  display: flex;
  flex-direction: column;
  color: var(--color-light);
  align-items: center;
  margin-top: 2.5vh;
}

.about_me_content .about_icon {
  width: 1vw;
  color: var(--color-primary);
}

.about_container .about_me .about_me_content i {
  font-size: 0.75vw;
}

.about_container .about_content p {
  color: var(--color-light);
}

.about_content .skills {
  display: flex;
  flex-direction: row;
  padding: 0.25vw;
  gap: 5vw;
}

.link {
  cursor: pointer;
  color: var(--color-primary);
}

.link:hover {
  color: var(--color-primary-variant);
}

.about_me_content .btn-secondary {
  width: 120%;
  margin-bottom: 1.2vh;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vh;
}
